@media all and (max-width: 861px) {
  .title-resume {
    margin-top: 2%;
  }
  .title-resume > p {
    font-size: 20px;
  }
  .header__title-name {
    font-size: 60px;
  }
  nav {
    font-size: 12px;
  }

  .info-bloks_img {
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
  }
  .info-bloks_text {
    font-size: 14px;
  }
  .info-bloks_title {
    font-size: 38px;
  }
  .contacts-content {
    font-size: 12px;
  }
  .contacts-blocks {
    font-size: 10px;
  }
  .map {
    width: 95%;
    height: 100%;
    border-radius: 30px 60px 30px 30px;
    margin-left: 2%;
    margin-right: 5%;
  }
  .contacts-blocks {
    margin: 0 10%;
  }
}
@media all and (max-width: 767px) {
  .info-bloks {
    flex-wrap: wrap;
  }
  .info-bloks_left-side {
    width: 100%;
    text-align: center;
  }
  .info-bloks_right-side {
    text-align: center;
    width: 100%;
  }
  .info-bloks_img {
    width: 85%;
  }
  nav {
    font-size: 10px;
  }
  .title-resume {
    text-align: center;
  }
  .title-resume > p {
    display: none;
  }
}
@media all and (max-width: 481px) {
  .contacts-content {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header__title-name {
    font-size: 60px;
  }
  nav {
    width: 50%;
    height: 20vh;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20%;
  }
  .portfolio-photo {
    width: 40%;
    height: 40%;
    margin-top: 10%;
  }
  header {
    width: 100%;
  }
  .title-resume {
    width: 90%;
    text-align: center;
  }
  nav {
    width: 40%;
  }
  .navbar__navigation {
    margin-bottom: 15%;
  }
  .nav_navigation {
    background-color: white;
    color: rgb(3, 142, 133);
    font-size: 12px;
    margin: 2% 0;
    justify-content: center;
  }
  .info-bloks {
    display: flex;
    margin: 0%;
    color: white;
  }
  .info-bloks_left-side {
    margin: 0;
    padding: 5%;
  }
  .info-bloks_title {
    margin: 5% 0 0;
  }
  .info-bloks_text {
    width: 100%;
  }
  .contacts-content {
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
  }
  .contacts_left-side {
    margin: 5% 0 0;
    width: 100%;
  }
  .contacts_center {
    width: 90%;
  }
  .contacts__right-side {
    width: 100%;
  }
  .contacts-blocks {
    display: block;
  }
  .#btnreg {
    font-size: 12px;
  }
  #order {
    margin: 5% 0 2%;
  }
  input {
    margin: 0% 0% 2%;
  }
  .contacts__right-side {
    margin: 0 0 10%;
  }
  #contacts-title {
    font-size: 25px;
  }
  .contacts-title {
    font-size: 16px;
  }
  #order {
    font-size: 25px;
  }
  #btnreg {
    font-size: 16px;
  }
  #btnreg:hover {
    font-size: 20px;
  }
  .map {
    border-radius: 30px 30px 15px 15px;
    margin: 0;
    width: 100%;
  }
}
@media all and (max-width: 320px) {
  .portfolio-photo {
    width: 60%;
    height: 60%;
    border: solid 5px rgb(255, 255, 255);
  }
  .header__title-name {
    font-size: 55px;
  }
  .nav_navigation {
    margin-top: 5%;
  }
  nav {
    width: 55%;
  }
}
